* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    transition: .2s;
}


nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    right:0;
    top: 0;
    background-color: #e40303dc;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: white;
}
.desktop-nav {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 6.25rem;
    gap: 3rem;
}

.nav-logo {
    height: 40px;
}
.desktop-nav .right a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.desktop-nav .right p {
    display:flex;
}

.right {
    display: flex;
    gap: 1rem;
}
.mobile-nav {
    display: none;
    width: 100%;
    
    
}

.mobile-nav .top {
    right:0;
    left: 0;
    justify-content: space-between;
    padding-inline: 5rem;
    background-color: #e40303dc;
    
}

.mobile-nav .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    color: #ffffff;
}
.mobile-nav p {
  margin: 0;
}
.desktop-nav p{
  margin: 0;
}
.telephone-number{
  color: white;
  text-decoration: underline;
  transition: .2s;
  letter-spacing: 1px;
}
.container-hero {
  background-color: rgba(0, 0, 0, 0.459);

  border-radius: 5px;
}
.telephone-number:hover {
  color: rgb(248, 152, 152);
}
.mobile-nav li a {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
}

li {
    list-style: none;
}
li a {
    color: white;
    font-weight: 500;

}
li a:hover {
    color: black;
}
a {
    text-decoration: none;
}

.middle {
    display: flex;
    gap: 2.5rem;
    font-size: 16px;
}

@media screen and (max-width: 1000px) {

    .language-change-mobile {
        padding-top: 2.5rem;
        display: flex;
        gap: 1rem;
    }
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-li {
        display: none;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        gap: 1rem;
        background-color: #e41d45c7;
        transition: .2s ease;
    }
    .nav-button {
        margin-top: 1rem;
    }
    .top {
        position: absolute;
        z-index: 999;
        display: flex;
        gap: 3rem;
        padding-block: 2rem;
        background-color: white;
        font-size: smaller;
    }
    .burger {
        display: flex;
    }
    .close {
        display: none;
    }
    .svg-nav {
        width: 30px;
        color: white;
    }
    .svg-nav.nav-close {
        width: 40px;
    }
}





.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-block: 19rem;
    background-size: cover;
    border-image-source: linear-gradient(#53545546,#a7a8a838 );
    border-image-slice: fill 1;
    background-image: url("../assets/hero-image.jpg");
    background-position: center;
    text-align: center;
    color: white;
}

.hero-icons {
    width: 50px;
}
.hero-contacts {
    margin-bottom: 5rem;
    width: 100%;
    padding-block: .5rem;
    display: flex;
    gap: .5rem;
    justify-content: center;
}
@media screen and (max-width: 1000px) {
    .hero-section {
            padding-block: 19rem;
    } 
    
        }

        @media screen and (max-width: 500px) {
            .hero-section {
                    padding-block: 16rem;
            } 
            
                }

.hero-section h1 {
    font-size: 3.25rem;
    padding-bottom: 5px;
}

.hero-text {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    padding-inline: 1rem;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 1.75rem;
}

.hero-card {
    background-color: white;
    color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 12px 12px;
    padding: 0.5rem;
    cursor: pointer;
}

.hero-card figure {
    width: 315px;
    overflow: hidden;
}

.hero-card figure:hover img {
scale: 1.02;
object-fit: cover;
}

.hero-card img {
    width: 100%;
}

.hero-card p {
    font-size: 1.35rem;
    font-weight: 600;
}

.hero-image{
  height: 200px;
}

@media screen and (max-width: 900px ){
    .cards-container{
        flex-direction: column;
        align-items: center;
    }

    .hero-section {
      padding-top: 12rem;
    }
    
}

@media screen and (min-width: 1000px) {
  .hero-textt {
    font-size: larger;
  }
}


.servicii {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7rem 0;
    background-color: #ff232e9a;
    gap: 2rem;
}

.servicii h2 {
    color: white;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.masini {
  padding: 5rem ;
}
@media screen and  (max-width: 550px) {
  .masini {
    padding: 5rem 1rem;
  }
}
.carousel {
  width: 350px;
}
.image-car {
  width: 350px;
  height: 330px;
}
@media screen and (max-width: 570px) {
  .button-hide {
    display: none;
  }


}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.307);

}

.carousel-control-prev {
  width: 50%;
}
.carousel-control-next {
  width: 50%;
}
.carousel-caption p, h5 {
  color: white;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.329);
    color: #fff;
    padding: 20px;
    transform: translateY(55%);
    transition: .5s ease;
}
.card:hover .overlay {
    transform: translateY(0);
    transition: .5s ease;
}


@media screen and (max-width: 1350px ) {
    .overlay {
        transform: translateY(0);
    }
}

.map {
    background-color: #e40303dc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 7rem 0;
    right: 0;
    color: white;
}

.map1 {
    margin: 1rem;
    width: 90%;
    border-radius: 1rem;
    box-shadow:rgb(105, 105, 105) 3px 3px 20px;
}

@media screen and (max-width: 430px ) {
  
    .paragraf-map {
        font-size: smaller;
    }
}

.footer-container {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-direction: row;
   
  
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: #ff232e9a;
    padding: 50px 0;
    color: white;
    
  }
  
  .footer-col {
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--yellow);
    margin-bottom: 20px;
    position: relative;
  }
  
  .footer-contact1 {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .footer-contact1 img {
    height: 20px;
    user-select: none;
    pointer-events: none;
  }
  
  .footer .fa-phone {
    font-size: 20px;
    color: var(--yellow);
  }
  
  .footer-logo img {
    width: auto;
    height: 45px;
  }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .footer-col ul li a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    color: var(--dark-blue);
    display: block;
  }
  
  .footer-col ul li a:hover {
    color: var(--yellow);
  }
  
  .footer-col .social-links1 a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--yellow);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--dark);
    display: flex;
    gap: 1rem;
  }
  
  .footer-col .social-links1 a:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px var(--yellow);
  }

  .mai-multe {
    display: none;
    transition: .2s ease;
  }
  .mai-multe2 {
    display: none;
    transition: .2s ease;}
  .mai-multe3 {
    display: none;
  }

  
  .view-less {
    display: none;
    transition: .2s ease;
  }

  .view-less,.more-cars-button {
    padding: 1rem;
    background-color: rgb(241, 82, 95);
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: white;
  }
  .view-less,.more-cars-button:hover {
    opacity: .9;
    cursor: pointer;
  }

  @media screen and (max-width: 770px){
    .footer-col1 {
        width: 100%;
        text-align: center;
      }
    
      .footer-col1 .contact-col1 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
      .footer-logo {
        padding-bottom: 30px;
      }
    }
    
    @media screen and (max-width: 767px) { 
       .footer-col1 {
        margin-bottom: 30px;
      }
    }
    
    @media screen and (min-width: 1600px) and (max-width: 1920px) and (min-height: 900px) and (max-height: 1080px) {
      .footer-container {
        max-width: 1350px;
      }
    }
    
    @media screen and (min-width: 1920px) {
    .footer-container {
        max-width: 1500px;
      }
    }
    
    @media screen and (min-width: 2560px) {
    .footer-container {
        max-width: 1750px;
      }
    }

    .list1 {
        width: 100%;
        height: 3rem;
        background-color: gray
    }
    input {
      height: 44px;
    }